<!-- Nike-Style Pre-header Bar -->
<div class="nike-preheader">
    <div class="container">
        <div class="preheader-inner">
            <div class="preheader-left">
                <a href="/" class="preheader-brand" aria-label="Bagani Oil Home">
                    <img src="/images/bagani-icon.png" alt="Bagani" class="preheader-icon">
                </a>
            </div>
            <div class="preheader-right">
                <a href="/store-locator/" data-en="Find a Store" data-tl="Maghanap ng Tindahan">Find a Store</a>
                <span class="preheader-divider">|</span>
                <a href="/contact/" data-en="Help" data-tl="Tulong">Help</a>
                <span class="preheader-divider">|</span>
                <a href="/about/" data-en="About Us" data-tl="Tungkol Sa Amin">About Us</a>
                <span class="preheader-divider">|</span>
                <button id="langToggle" onclick="toggleLang()" title="Switch language" class="preheader-lang-btn">EN</button>
            </div>
        </div>
    </div>
</div>
<!-- Pre-header End -->
